<div class="map">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="serviceProvider.latitude" [longitude]="serviceProvider.longitude"  *ngFor="let serviceProvider of serviceProviders">
      <agm-info-window>
        <h3>{{serviceProvider.tipo}}: {{serviceProvider.nome}} </h3>
        <button class="button" mat-raised-button color="primary" (click)="viewServiceProvider(serviceProvider)" >Mais</button>
      </agm-info-window>
    </agm-marker>
  </agm-map>
      <input type="text"
      class="searchInput"
      placeholder="Buscar Prestadores de Serviços" matInput [formControl]="searchControl" [matAutocomplete]="auto" (optionSelected)=searchProvider($event.option.value)>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)=searchProvider($event.option.value)>
        <mat-option *ngFor="let serviceProvider of filteredOptions | async" [value]="serviceProvider">
          {{serviceProvider}}
        </mat-option>
      </mat-autocomplete>

</div>
