<div class="container">
  <form [formGroup]="formPet" (ngSubmit)="handleSubmit()">

    <div class="div-image">
      <img id="image2" [src]="image" (click)="fileSelect.click()"/>
    </div>

    <input type="file" #fileSelect hidden (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" />

    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" required>
      <mat-error *ngIf="nome.invalid">Preencha o nome</mat-error>
    </mat-form-field>

    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput type="date" formControlName="dataNascimento" required>
      <mat-error *ngIf="dataNascimento.invalid">Preencha a data de nascimento</mat-error>
    </mat-form-field>

    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Cor</mat-label>
      <input matInput formControlName="cor" required>
      <mat-error *ngIf="cor.invalid">Preencha a cor</mat-error>
    </mat-form-field>

    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo"  required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let tipo of tipos" [value]="tipo">
          {{tipo}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tipo.invalid">Selecione o tipo</mat-error>
    </mat-form-field>


    <div class="form-footer">
      <span *ngIf="loading" class="loading-small">
              <mat-spinner diameter="50"></mat-spinner>
      </span>

      <div *ngIf="!loading">
        <button mat-raised-button color="primary" type="submit">Adicionar</button>
        <button mat-raised-button color="primary" type="button" routerLink="../">Cancelar</button>
      </div>
    </div>

  </form>
</div>

