<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<div class="header">
  <span class="header-content">
      <i class="fa fa-calendar-check fa-2x"></i>
      Agenda
  </span>
</div>

<div class="planner">

	<div class="calendar">
		<div class="calendar-header">
			<span class="btn btn-prev">
				<i class="icon-angle-left"></i>
			</span>

			<span class="">Outubro</span>

			<span class="btn btn-next">
				<i class="icon-angle-right"></i>
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>DOM</th>
					<th>SEG</th>
					<th>TER</th>
					<th>QUA</th>
					<th>QUI</th>
					<th>SEX</th>
					<th>SÁB</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span class="agenda-outro-mes">27</span></td>
					<td><span class="agenda-outro-mes">28</span></td>
					<td><span class="agenda-outro-mes">29</span></td>
					<td><span class="agenda-outro-mes">30</span></td>
					<td><span>1</span></td>
					<td><span>2</span></td>
					<td><span>3</span></td>
				</tr>
				<tr>
					<td><span>4</span></td>
					<td><span>5</span></td>
					<td><span>6</span></td>
					<td><span>7</span></td>
					<td><span>8</span></td>
					<td><span>9</span></td>
					<td><span>10</span></td>
				</tr>
				<tr>
					<td><span >11</span></td>
					<td><span>12</span></td>
					<td><span>13</span></td>
					<td><span>14</span></td>
					<td><span >15</span></td>
					<td><span>16</span></td>
					<td><span>17</span></td>
				</tr>
				<tr>
					<td><span>18</span></td>
					<td class="agenda-selected"><span>19</span></td>
					<td><span>20</span></td>
					<td><span>21</span></td>
					<td><span>22</span></td>
					<td><span>23</span></td>
					<td><span>24</span></td>
				</tr>
				<tr>
					<td><span>25</span></td>
					<td><span>26</span></td>
					<td><span>27</span></td>
					<td><span>28</span></td>
					<td><span>29</span></td>
					<td><span>30</span></td>
					<td><span>31</span></td>
				</tr>
			</tbody>

		</table>
	</div>
	<div class="schedule">

		<div class="tab-pane">
			<div class="schedule-list">

				<div class="schedule-item">
					<div class="time">
						<span>9:00</span>
					</div>
					<div class="description">
						<div class="description-header">Levar Rex ao veterinário</div>
						<div class="description-content">
							<p>Consulta às 9:00. Dra. Rafaela </p>
							<ul class="contact-list">
								<li class="contact">
									<a href="#"><img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/147083304-dogs-home-alone-all-day-632x475.jpg" alt="" /></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="schedule-item free">
					<div class="time">
						<span>10:00</span>
					</div>
					<div class="description">
            <div class="description-header">Sem lembrete</div>
						<div class="description-content">&nbsp;</div>
					</div>
				</div>

        <div class="schedule-item">
          <div class="time">
            <span>14:00</span>
          </div>
          <div class="description">
            <div class="description-header">Comprar ração para os pets</div>
            <div class="description-content">
              <p>Comprar na Tenda do Pet ou Petz</p>
              <ul class="contact-list">
                <li class="contact">
                  <a href="#"><img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/147083304-dogs-home-alone-all-day-632x475.jpg" alt="" /></a>
                </li>
                <li class="contact">
                  <a href="#"><img src="https://live.staticflickr.com/65535/48886065922_3aa9737e34_b.jpg" alt="" /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="schedule-item free">
          <div class="time">
            <span>10:00</span>
          </div>
          <div class="description">
            <div class="description-header">Sem lembrete</div>
            <div class="description-content">&nbsp;</div>
          </div>
        </div>
		</div>

	</div>
