<html>
  <head>

  </head>
  <body>
    <div class="area">
      <router-outlet></router-outlet>
    </div>
    <nav class="main-menu">
            <ul>
                <li>
                    <a matTooltip="Início" matTooltipPosition="right" routerLink="/home/" >
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a matTooltip="Meus Pets" routerLink="/home/pets">
                        <i class="fa fa-paw fa-2x"></i>
                        <span class="nav-text">
                            Pets
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a matTooltip="Mapa" routerLink="/home/map">
                       <i class="fa fa-map-marked-alt fa-2x"></i>
                        <span class="nav-text">
                            Mapa
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a matTooltip="Agenda" routerLink="/home/agenda">
                       <i class="fa fa-calendar-check fa-2x"></i>
                        <span class="nav-text">
                            Agenda
                        </span>
                    </a>

                </li>
                <li>
                    <a matTooltip="Assistente" routerLink="/home/assistente">
                        <i class="fa fa-user-md fa-2x"></i>
                        <span class="nav-text">
                            Assistente
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/home/perfil">
                        <i class="fa fa-users fa-2x"></i>
                        <span class="nav-text">
                           Perfil
                        </span>
                    </a>
                </li>
                <li>
                   <a routerLink="/home/config">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Config
                        </span>
                    </a>
                </li>
                <li>
                   <a routerLink="/home/sobre">
                        <i class="fa fa-info-circle fa-2x"></i>
                        <span class="nav-text">
                            Sobre
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/home/ongs">
                       <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                            Ongs
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a routerLink="/">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
  </body>
    </html>
