<mat-sidenav-container class="sidenav-content">
  <mat-sidenav class="sidenav" mode="side" [opened]="navOn" fixedInViewport="true">
    <mat-nav-list class="nav-list">

      <a mat-list-item (click)="pageOn = 'dashboard'" routerLink="dashboard" [class]="route.url == '/home/dashboard' ? 'page-selected': ''">
        <i class="material-icons">
          home
        </i>
      </a>

      <a mat-list-item (click)="pageOn = 'pet'" routerLink="pet" [class]="pageOn == 'pet' && route.url != '/home/dashboard' ? 'page-selected' : ''">
        <i class="material-icons">
          pets
        </i>
      </a>

      <a mat-list-item (click)="pageOn = 'mapa'" routerLink="mapa" [class]="pageOn == 'mapa' && route.url != '/home/dashboard' ? 'page-selected' : ''">
        <i class="material-icons">
          map
        </i>
      </a>

      <a mat-list-item (click)="pageOn = 'agenda'" routerLink="agenda" [class]="pageOn == 'agenda' && route.url != '/home/dashboard' ? 'page-selected' : ''">
        <i class="material-icons">
          event_note
        </i>
      </a>

      <a mat-list-item (click)="pageOn = 'assistente'" routerLink="assistente" [class]="pageOn == 'assistente' && route.url != '/home/dashboard' ? 'page-selected' : ''">
        <i class="material-icons">
          android
        </i>
      </a>

      <div class="footer">
        <a mat-list-item (click)="pageOn = 'account'" routerLink="account" [class]="pageOn == 'account' && route.url != '/home/dashboard' ? 'page-selected' : ''">
          <i class="material-icons">
            person
          </i>
        </a>
        <a mat-list-item (click)="logout()">
          <i class="material-icons">
            exit_to_app
          </i>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <div class="content">
      <router-outlet></router-outlet>
      <button mat-raised-button class="button-toggle-nav" (click)="toggleNav()" color="primary">
        <i class="material-icons">
          {{ navOn ? 'menu_open' : 'menu' }}
        </i>
      </button>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
