.pet-create-container {
  height: 100%;
  background: #FFF;
  margin-right: 60px;
  padding: 10px;
}

.div-image {
  display: flex;
  justify-content: center;
}

.div-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #AAEBFB;
}

.center {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

button {
  padding-right: 16px;
  padding-left: 16px;
  height: 48px;
  color: #AAEBFB;
  background: #0C3D45;
  border-radius: 16px;
  border: none;
}


.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#4BD5DA;
}
.login-form .group{
  margin-bottom:15px;
}

.login-form .group .label {
  width:100%;
  color:#fff;
  display:block;
}

.login-form .group .button{
  width:100%;
  color:#AAEBFB;
  display:block;
  text-align: center;
}

.login-form .group .input {
  width:100%;
  color:#000;
  display:block;
}

.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(0,0,0,.1);
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.login-form .group .button{
  background:#0C3D45;
}
