<div class="header">
  <span class="header-content">
      <i class="fa fa-paw fa-2x"></i>
      Meus Pets
  </span>
</div>

<!--
<div class="cards-list">
  <div class="card dog">
    <div class="card_title">
      <p>Rex</p>
    </div>
  </div>
  <div class="card cat">
    <div class="card_title">
      <p>Miau</p>
    </div>
  </div>
</div>
-->
<div class="pet-list">
  <div class="pet">
    <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/147083304-dogs-home-alone-all-day-632x475.jpg">
    <div class="pet-content">
      <span class="pet-name">Rex</span>
      <i class="fa fa-search fa-2x"></i>
    </div>

  </div>
  <div class="pet">
    <img src="https://live.staticflickr.com/65535/48886065922_3aa9737e34_b.jpg">
    <div class="pet-content">
      <span class="pet-name">Miau</span>
      <i class="fa fa-search fa-2x"></i>
    </div>
  </div>
  <div class="pet-novo">
    <i class="fa fa-paw fa-2x"></i>
    <span class="pet-name">Novo Pet</span>
  </div>
</div>
