.pet-list {
  margin-right: 60px;
  padding: 16px;
  height: 100%;
  background: #FFF;
}

.pet {
  display: flex;
  align-items: center;
  justify-content: left;

  color: #0C3D45;
  border: 1px solid #0C3D45;
  border-right: 0px;
  border-radius: 50px 0px 0px 50px;
}

.pet .pet-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pet .pet-content i {
  margin-right: 12px;
}

.pet + .pet {
  margin-top: 10px;
}

.pet img {
  padding: 4px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pet .pet-name {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
  border-bottom: 1px solid #0C3D45;
}

.pet:hover {
  background-image: linear-gradient(to left, rgba(255,0,0,0), #0C3D45);
  color: #FFF;
  cursor: pointer;
}

.pet:active {
  background-image: linear-gradient(to left, rgba(255,0,0,0), #0C3D45);
  color: #FFF;
}

.pet-novo:hover {
  background-image: linear-gradient(to right, rgba(255,0,0,0), #0C3D45);
  color: #FFF;
  cursor: pointer;
}

.pet-novo:active {
  background-image: linear-gradient(to right, rgba(255,0,0,0), #0C3D45);
  color: #FFF;
}

.pet-novo {
  display: flex;
  color: #0C3D45;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #0C3D45;
  border-left: 0px;
  border-radius: 0px 50px 50px 0px;
}

.pet-novo i {
  text-align: center;
  width: 100px;
  height: 100px;
  padding: 4px;
  padding-top: 8px;
  font-size: 80px;
}

.pet-novo .pet-name {
  font-size: 24px;
  font-weight: 500;
  margin-right: 10px;
  border-bottom: 1px solid #0C3D45;
}

