.cards-list {
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.dog{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-image: url(https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/147083304-dogs-home-alone-all-day-632x475.jpg);
}

.cat{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-image: url(https://live.staticflickr.com/65535/48886065922_3aa9737e34_b.jpg);
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.4s;
}


.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(1, 101, 131, 0.25),
    -5px -5px 30px 15px rgba(42, 83, 121, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 60px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.pet-list {
  margin-right: 60px;
  padding: 16px;
  height: 100%;
  background: #448D89;
}

.pet {
  display: flex;
  align-items: center;
  justify-content: left;

  color: #0C3D45;
  border: 1px solid #0C3D45;
  border-right: 0px;
  border-radius: 50px 0px 0px 50px;
}

.pet .pet-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pet .pet-content i {
  margin-right: 12px;
}

.pet + .pet {
  margin-top: 10px;
}

.pet img {
  padding: 4px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pet .pet-name {
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
  border-bottom: 1px solid #0C3D45;
}

.pet:hover {
  background-image: linear-gradient(to left, rgba(255,0,0,0), #0C3D45);
  color: #4BD5DA;
  cursor: pointer;
}

.pet:active {
  background-image: linear-gradient(to left, rgba(255,0,0,0), #0C3D45);
  color: #4BD5DA;
}

.pet-novo:hover {
  background-image: linear-gradient(to right, rgba(255,0,0,0), #0C3D45);
  color: #4BD5DA;
  cursor: pointer;
}

.pet-novo:active {
  background-image: linear-gradient(to right, rgba(255,0,0,0), #0C3D45);
  color: #4BD5DA;
}

.pet-novo {
  display: flex;
  color: #0C3D45;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #0C3D45;
  border-left: 0px;
  border-radius: 0px 50px 50px 0px;
}

.pet-novo i {
  text-align: center;
  width: 100px;
  height: 100px;
  padding: 4px;
  padding-top: 8px;
  font-size: 80px;
}

.pet-novo .pet-name {
  font-size: 24px;
  font-weight: 500;
  margin-right: 10px;
  border-bottom: 1px solid #0C3D45;
}

