<div class="div-services">

</div>


<div class="div-center sub-title">
  Agenda de Hoje
</div>
<div class="div-agenda">
  <div class="max-width">
    <div class="div-evento" *ngFor="let evento of eventos" >
      <span class="evento">
        <div class="evento-body max-width">
          <span>{{evento.hora}}</span>
          <span>{{evento.desc}}</span>

            <i class="material-icons">
          medical_services
            </i>

        </div>
      </span>
    </div>
  </div>

</div>

