<div class="div-center sub-title">
  Nas Proximidades
</div>
<div class="div-services">
  <carousel class="carousel-custom"
  cellsToShow="1"
  [arrows]="true"

  >
  <div class="carousel-cell" *ngFor="let serviceProvider of serviceProviders" (click)="viewServiceProvider(serviceProvider)">
      <img [src]="serviceProvider.image">
  </div>
  </carousel>
</div>
<div class="div-center">
  <input
class="searchInput"
type="text"
placeholder="Buscar Serviços/Prestadores"
aria-label="Number"
matInput
[matAutocomplete]="auto"
[value]="searchText">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)=searchProvider($event.option.value)>
  <mat-option *ngFor="let serviceProvider of serviceProviders" [value]="serviceProvider">{{serviceProvider.nome}}</mat-option>
</mat-autocomplete>
</div>




<div class="div-center sub-title">
  Agenda de Hoje
</div>
<div class="div-agenda">
  <div class="max-width">
    <div class="div-evento" *ngFor="let evento of eventos" >
      <span class="evento">
        <div class="evento-body max-width">
          <span>{{evento.hora}}</span>
          <span class="max-width text-center">{{evento.desc}}</span>
        </div>
      </span>
    </div>

    <div class="div-evento" *ngIf="!eventos || eventos.length == 0" >
      <span class="evento">
        <div class="max-width text-center">
          NENHUM EVENTO PARA HOJE
        </div>
      </span>
    </div>



  </div>

</div>

