<div class="login-wrap">
  <div class="background">
    <div class="container">
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Cadastro</label>

        <div class="login-form">
          <form [formGroup]="formLogin" class="sign-in-htm">

            <div class="group">
              <label for="username" class="label">Usuário</label>
              <input id="username" formControlName="username" type="text" class="input">
            </div>
            <div class="group">
              <label for="password" class="label">Senha</label>
              <input id="password" formControlName="password" type="password" class="input" data-type="password">
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check" class="label-checkbox"><span class="icon"></span>Manter Conectado</label>
            </div>
            <div class="group">
              <input type="submit" class="button" value="Entrar" (click)="toggleLogin()">
            </div>
            <div class="foot-lnk">
              <a href="#forgot">Esqueceu a senha?</a>
            </div>

          </form>
          <form [formGroup]="formRegister" class="sign-up-htm">
            <div class="group">
              <label for="usernameRegister" class="label">Usuário</label>
              <input id="usernameRegister" formControlName="usernameRegister" type="text" class="input">
            </div>
            <div class="group">
              <label for="passwordRegister" class="label">Senha</label>
              <input id="passwordRegister" formControlName="passwordRegister" type="password" class="input"
                     data-type="password">
            </div>
            <div class="group">
              <label for="passwordConfirm" class="label">Repetir Senha</label>
              <input id="passwordConfirm" formControlName="passwordConfirm" type="password" class="input"
                     data-type="password">
            </div>
            <div class="group">
              <label for="emailRegister" class="label">Email</label>
              <input id="emailRegister" formControlName="emailRegister" type="email" class="input">
            </div>
            <div class="group">
              <input type="submit" class="button" value="Cadastrar" (click)="toggleRegister()">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dogcare-logo">
  <img src="../../assets/LOGO FINAL.png">
</div>
