<div class="container">
  <mat-form-field class="max-width" appearance="outline">
    <mat-label>Escolha a data</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dataValue" (dateChange)="refreshData()" readonly>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

  <div class="max-width">

    <div class="div-evento" *ngFor="let evento of eventos" (click)="openFormEvento(evento)">
      <span class="evento">
        <div class="evento-body max-width">
          <span class="hora">{{evento.hora}}</span>
          <span class="desc">{{evento.desc}}</span>

            <i class="material-icons">
          medical_services
            </i>

        </div>
      </span>
    </div>

    <div class="div-center">
      <button class="button" [disabled]="eventoFormOn" (click)="openFormEvento()" mat-raised-button color="primary" type="button">Novo
      </button>
    </div>

    <form *ngIf="eventoFormOn" [formGroup]="formEvento" class="form-evento">

      <mat-form-field class="max-width" appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName="desc" required>
        <mat-error *ngIf="desc.invalid">Preencha a descrição</mat-error>
      </mat-form-field>

      <mat-form-field class="max-width" appearance="outline">
        <mat-label>Pet</mat-label>
        <mat-select formControlName="pet">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let pet of pets" [value]="pet.nome">
            {{pet.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="evento.service!=''" class="max-width" appearance="outline">
        <mat-label>Prestador</mat-label>
        <input matInput type="text" formControlName="service" readonly >
      </mat-form-field>

      <mat-form-field class="max-width" appearance="outline">
        <mat-label>Escolha a data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data" readonly required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <mat-error *ngIf="data.invalid">Preencha a data</mat-error>
      </mat-form-field>

      <mat-form-field class="max-width" appearance="outline">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="hora" required>
        <mat-error *ngIf="hora.invalid">Preencha a hora</mat-error>
      </mat-form-field>

      <div class="div-center">
        <button class="button" mat-raised-button color="primary" type="submit"
                (click)="handleSubmit()">{{ evento ? 'Salvar' : 'Adicionar' }}</button>
        <button class="button" mat-raised-button color="primary" type="button" (click)="cancelFormEvento()">Cancelar</button>
      </div>


    </form>

  </div>


</div>
