.header {
  border-bottom: 1px solid #3F8270;
  background-color: #fff;
  height: 48px;
  color: #0C3D45;
}

.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0C3D45;
}

.header .title-group  i {
  padding-right: 5px;
  color: #0C3D45;
}
