button {
  margin-top: 10px;
}

button + button {
  margin-left: 10px;
}

.form-footer {
  display: flex;
  justify-content: center;
}

.div-image {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.div-image img {
  border-radius: 50%;

  width: 180px;
  height: 180px;
}

.div-service + .div-service {
  border-top: solid 1px rgba(63,130,112, 0.25);
}

.service-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  color: #0C3D45;
  font-size: 16px;
}

.service {
  display: flex;
  width: 100%;
  max-width: 368px;
}


.div-service {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

.div-service img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 0 0.5em #3F8270;
}

.div-service:hover {
  transition: background-color 400ms;
  background-color: #0C3D45;
  cursor: pointer;
}

.div-service:hover img {
  box-shadow: 0 0 0.5em #FFFFFF;
}

.div-service:hover .service-body {
  transition: color 400ms;
  color: #AAEBFB;
}

.service-right {
  display: flex;
  align-items: center;
}

.service-right i {
  margin-left: 5px;
}

.form-service {
  margin-top: 10px;
}
