<div class="container">

  <mat-button-toggle-group class="max-width" [value]="view" (change)="toggleViewContratar()">
    <mat-button-toggle [value]="true">Dados</mat-button-toggle>
    <mat-button-toggle [value]="false">Serviços</mat-button-toggle>
  </mat-button-toggle-group>

  <form *ngIf="view" [formGroup]="formServiceProvider">

    <div class="div-image">
      <img id="image2" [src]="image"/>
    </div>

    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" readonly>
    </mat-form-field>

    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Tipo</mat-label>
      <input matInput formControlName="tipo" readonly>
    </mat-form-field>

    <mat-form-field class="max-width" appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="desc" readonly></textarea>
    </mat-form-field>


    <div class="form-footer">
      <div>
        <button class="button" mat-raised-button color="primary" type="button" routerLink="../">Voltar</button>
      </div>
    </div>

  </form>

  <div *ngIf="!view" class="max-width">
    <div class="div-service" *ngFor="let service of services" >
      <span class="service">
        <div class="service-body max-width">
        <span>{{service.nome}}</span>
          <span class="service-right">
            <span>{{service.preco}}</span>
            <i class="material-icons">
          medical_services
            </i>
          </span>

        </div>
      </span>
    </div>
  </div>
</div>
