button {
  margin-top: 10px;
}

button + button {
  margin-left: 10px;
}

.form-footer {
  display: flex;
  justify-content: center;
}

.div-image {

  object-fit: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.div-image img {
  border-radius: 50%;

  object-fit: cover;
  width: 180px;
  height: 180px;
}

